.main-container{
    background-color: rgba(0, 0, 0, 0.671);
}

.menu-title {
    margin: auto;
    padding-top: 1.25em;
    color: #ffffff;
    font-size: 4em;
    font-family: var(--main-font);
    text-align: center;
}

.separator {
    height: 3px;
    width: 40vw;
    background-color: var(--main-brown);
}

/* menu items card classes */
.menu-list {
    padding: 1em;
    margin: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    color: #ffffff;
    font-family: var(--main-font);
    gap: 10vh;

}

.item-card{
    padding: 0;
    margin: 0;
    width: 60vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "img info";
};

.card-img {
    grid-area: img;
    max-width: 500px;
}

.card-info {
    grid-area: info;
    padding: 3em;
}

.med-img {
    display: inline-block;
    max-width: 300px;
    height: auto;
}