.main-container{
    background-color: rgba(0, 0, 0, 0.671);
}

.menu-title {
    margin: auto;
    padding-top: 1.25em;
    color: #ffffff;
    font-size: 4em;
    font-family: var(--main-font);
    text-align: center;
}

.separator {
    height: 3px;
    width: 40vw;
    background-color: var(--main-brown);
}