:root{
    --main-font: 'Trebuchet MS';
}

body, html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main-image {
    width: 100%;
    height: auto;
    background: url('./../img/restaurant-picture.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar{
    width: 100%;
    overflow: hidden;
    background-color: rgba(146, 93, 7, 0.883);
    position: fixed;
    top: 0;
}

.nav-bar-list{
    font-family: var(--main-font);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.3em;
    margin: 0.5em;
    padding: 0;
}

.list-items{
    margin: 0 1em 0;
}

.title-container{
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title{
    font-size: 10em;
    color: white;
    font-family: var(--main-font);
}

/* Information style */
.info-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "g1"
    "g2"
    "g3";
    background-color: rgba(0, 0, 0, 0.671);
}

.info-style {
    margin: 1em;
    font-size: 1.5em;
    font-family: var(--main-font);
    color: white;
    font-weight: 400;
    height: auto;
    width: fit-content;
    max-width: 60%;
}

.info-style-title {
    width: max-content;
    font-size: 2.5em;
    margin: 0;
}

.info-style-desc {
    margin: 0.5em 0 0 0;
    line-height: 1.4em;
    text-align: justify;
}

/* footer style */
.footer-container{
    display: flex;
    flex-direction: row;
    position:relative;
    margin: 0;
    padding: 0.5em;
    left: 0px;
    bottom: 0px;
    background-color: rgb(56, 41, 17);
    font-family: var(--main-font);
    font-size: 1em;
    color: #fff;
    justify-content: left;
}

.a-links{
    margin: auto 0 auto 0;
    text-decoration: none;
    color: #fff;
}


