:root{
    --main-font: 'Trebuchet MS';
    --main-brown: rgba(146, 93, 7, 0.883);
}

body, html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.title-container{
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title{
    font-size: 10em;
    color: white;
    font-family: var(--main-font);
}

/* Information style */
.info-container {
    padding-top: 1em;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    "g1"
    "g2"
    "g3";
    background-color: rgba(0, 0, 0, 0.671);
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.info-style {
    margin: 1em 3em 1em 3em;
    font-size: 1.5em;
    font-family: var(--main-font);
    font-weight: 400;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 6em 2em 6em;
    border-bottom: solid var(--main-brown) 3px;
}

.info-style-title {
    width: max-content;
    font-size: 2.5em;
    margin: 0;
}

.info-style-desc {
    margin: 0.5em 0 0 0;
    line-height: 1.4em;
    text-align: justify;
}

.a-links{
    margin: auto 0 auto 0;
    text-decoration: none;
    color: #fff;
}


