.main-image {
    width: 100%;
    height: auto;
    background: url('./img/restaurant-picture.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar{
    width: 100%;
    overflow: hidden;
    background-color: rgba(146, 93, 7, 0.883);
    position: fixed;
    top: 0;
}

.nav-bar-list{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.list-items{
    margin: 0 1em 0;
}

.title-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title{
    font-size: 10em;
    color: white;

}