.main-image {
    width: 100%;
    height: auto;
    background: url('./img/restaurant-picture.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar{
    width: 100%;
    overflow: hidden;
    background-color: rgba(146, 93, 7, 0.883);
    position: fixed;
    top: 0;
}

.nav-bar-list{
    font-family: var(--main-font);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.3em;
    margin: 0.5em;
    padding: 0;
}

.list-items{
    margin: 0 1em 0;
    color: #ffffff;
}

.list-items:hover{
    color: black;
    cursor: pointer;
}